<%- include("parts/html-head") %> 
<%- include("parts/navbar") %>
<div id="layoutSidenav">
  <%- include("parts/layout-sidenav") %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">首頁</h1>
        <div class="card mt-4">
          <div class="card-body">
            <h3>此專案使用node.js(express),ejs,Restful api, mySql製作完成</h3>
          </div>
        </div>

    </div>
    </main>
  </div>
</div>
<%- include("parts/scripts") %> <%- include("parts/html-foot") %>
